<style>
    .c-status-bar-right {
        float: right;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0.5rem;
        gap: 0.5rem;
    }
</style>

<div class="c-status-bar-right">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}