<style>
    .c-content {
        flex: 1;
        padding: 0.2rem;
        background-color: white;
        border-radius: 10px 0 0 10px;
    }
</style>

<div class="c-content">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}