@namespace Blzrc.Components

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .c-wrap {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
</style>

<div class="c-wrap">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}