<div style="@GetStyle">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Style { get; set; } = "";

    private string GetStyle => $"height:64px;{Style}";
}